[contenteditable], .fakeContentEditable {
    overflow-y: auto;
    padding: 10px 32px;
}

.contenteditableContainer {
    border: solid 1px var(--border-color);
    background: inherit;
    padding: 0;
    border-radius: 10px;
}

[contenteditable]:focus-visible {
    outline: 0;
}

.contenteditableContainer:focus-within {
    outline: var(--border-color) auto 1px;
}

.contenteditableContainerHeader {
    padding: 10px 32px 0 32px;
}

.contenteditableContainerContent {
    padding: 0 32px 0 32px;
}

.contenteditableContainerFooter {
    padding: 0 32px 10px 32px;
}