.element {
    border-radius: 5px;
    padding: 4px;
    background: inherit;
}

.minimalElement {
    border-radius: 5px;
    background: inherit;
}

.largeElement {
    border-radius: 10px;
    padding: 8px 16px;
    background: inherit;
}

.giantElement {
    border-radius: 10px;
    padding: 20px 32px;
}

.bordered {
    border: 1px solid var(--border-color);
}

.outlined {
    outline: var(--border-color) auto 1px;
}

.raised {
    background: var(--raised-background-color);
}

.grounded {
    background: var(--background-color);
}

.interactive {
    cursor: pointer;
}

.hoverable:hover:not(:disabled) {
    background: var(--hover-background-color);
}