.icon {
    color: inherit;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    fill: currentColor;
    height: 24px;
    width: 24px;
  }
  
  .smallIcon {
    height: 20px;
    width: 20px;
  }
  
  .noFill {
    fill: none
  }