input {
    padding: 4px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: inherit;
}

::placeholder {
    font-style: italic;
    color: var(--placeholder-color);
}

.validationMessage {
    color: var(--danger-color);
    font-style: italic;
    font-size: 0.8rem;
}