.listContainerHorizontal, .listContainerVertical {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.listContainerHorizontal {
    align-items: center;
}

.listContainerVertical {
    flex-direction: column;
}

.listHorizontal, .listVertical, .divList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 10px;
    align-items: center;
}

.listHorizontal {
    flex-direction: row;
}

.listVertical {
    flex-direction: column;
}

.divList {
    align-items: start;
}

.nowrap {
    flex-wrap: nowrap;
}

.largeGap {
    gap: 6rem;
}

.flexFill {
    flex: 1;
    flex-basis: max-content;
}

.decoratedContainer {
    display: flex;
}

.decoratedContainer > *:first-child,
.decoratedContainer > *:last-child {
    width: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoratedContainer > *:first-child {
    align-items: start;
}

.decoratedContainer > *:last-child {
    align-items: end;
}

.decoratedContainer > *:nth-child(2) {
    flex-grow: 1;
}