.markdown>p, .markdownRawText {
    margin-bottom: 16px;
}

.markdownRawText {
    white-space: pre-wrap;
    word-break: break-word;
}

.markdown table {
    margin-bottom: 16px;
}

.markdownTopBar, .markdownBottomBar {
    background-color: var(--code-bar-background-color);
    color: var(--codeblock-color);
}

.markdownTopBar {
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.markdownBottomBar {
    border-radius: 0 0 8px 8px;
}

.markdownPreview {
    padding: 10px 16px;
}