/* Styling for select elements */
select {
    padding: 8px 12px;
    color: var(--text-color);
    background-color: var(--raised-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

select:hover {
    background-color: var(--hover-background-color);
    border-color: var(--raised-border-color);
}

select:focus {
    outline: none;
}

select:disabled {
    background-color: var(--disabled-background-color);
    color: var(--raised-text-color);
    border-color: var(--raised-border-color);
    cursor: not-allowed;
}
