.jsSidebarHide {
    display: none;
}

.jsSidebarControlsHide {
    display: none;
}

.sidebar {
    background: var(--sidebar-background-color);
    width: 250px;
    height: 100vh;
    padding-top: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

@media (max-width: 250px) {
    .sidebar {
      width: 100vw;
    }
}


.sidebarElement {
    padding-left: 46px;
}
  
.sidebarOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in srgb, var(--overlay-color), transparent 25%);
    z-index: 500;
    opacity: 1;
    transition: all .5s ease-in-out;
}